<div class="grid place-items-center h-full w-full p-[20px] prose">
    <div class="text-white bg-wu-blue p-[20px] pt-[40px] pb-[60px] max-w-[50%]">
        <h1 class="font-sans text-[30px] lg:text-[48px] pb-[20px]">{{ page.title }}</h1>
        <div class="font-serif">{{ page.content }}</div>
    </div>
</div>
